body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #333333;
}
.App {
  background-color: #333333;
}

.container {
  font-size: 3rem;
  margin: auto;
  max-width: 800px;
  margin-top: 20px;
  background-color: #333333;
}

.received-message {
  background-color: #e5e5ea;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  padding-left: 20px;
  padding-right: 40px; /* Increase the padding-right value to create space on the right side */
  width: 40%;
  align-self: flex-start;
}

.sent-message {
  background-color: #007aff;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  color: #fff;
  text-align: right;
  max-width: 40%;
  padding-left: 20px;
  padding-right: 40px; /* Increase the padding-right value to create space on the right side */
  align-self: flex-end;
  margin-left: 40%;
}